{% assign interests = site.data.data.interests %}
{% if interests %}
<section class="section interest-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-book fa-stack-1x fa-inverse"></i>
    </span>
    {{ interests.title }}
  </h2>

  {% for experience in interests.info %}
  <div class="item">

    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">{{experience.role|markdownify}}</h3>
      </div><!--//upper-row-->

    </div><!--//meta-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
